/DingeTesten
/DingeTesten.c
/Programmieren
/Datasets
*.npy
DeepLearning/Datasets/bc_features_standard.npy
DeepLearning/Datasets/bc_features.npy
DeepLearning/Datasets/bc_labels.npy
DeepLearning/Datasets/bc_test_features_augmented.npy
DeepLearning/Datasets/bc_test_labels_augmented.npy
DeepLearning/Datasets/bc_train_features_augmented.npy
DeepLearning/Datasets/bc_train_labels_augmented.npy
DeepLearning/Datasets/breast-cancer-wisconsin.data
DeepLearning/Datasets/cifar10_test_images.npy
DeepLearning/Datasets/cifar10_test_labels.npy
DeepLearning/Datasets/cifar10_test_vectors.npy
DeepLearning/Datasets/cifar10_train_images.npy
DeepLearning/Datasets/cifar10_train_labels.npy
DeepLearning/Datasets/cifar10_train_vectors.npy
DeepLearning/Datasets/iris_features.npy
DeepLearning/Datasets/iris_labels.npy
DeepLearning/Datasets/iris_test_features_augmented.npy
DeepLearning/Datasets/iris_test_labels_augmented.npy
DeepLearning/Datasets/iris_train_features_augmented.npy
DeepLearning/Datasets/iris_train_labels_augmented.npy
DeepLearning/Datasets/iris.data
DeepLearning/Datasets/mnist_test_images.npy
DeepLearning/Datasets/mnist_test_labels.npy
DeepLearning/Datasets/mnist_test_scrambled_vecotrs.npy
DeepLearning/Datasets/mnist_test_vectors.npy
DeepLearning/Datasets/mnist_train_images.npy
DeepLearning/Datasets/mnist_train_labels.npy
DeepLearning/Datasets/mnist_train_scrambled_images.npy
DeepLearning/Datasets/mnist_train_scrambled_vectors.npy
DeepLearning/Datasets/mnist_train_vectors.npy
DeepLearning/Datasets/wdbc_test_features_augmented.npy
DeepLearning/Datasets/wdbc_test_labels_augmented.npy
DeepLearning/Datasets/wdbc_train_features_augmented.npy
DeepLearning/Datasets/wdbc_train_labels_augmented.npy
DeepLearning/Datasets/wdbc.data
